/* TODO: Custom font @zitra */
/* @font-face {
  font-family: "FONTNAME";
  src: local("FILENAME"),
    url("./font/FILENAME.ttf") format("truetype");
} */

/* Variables */
:root {
  /* Background */
  --background: #080a0a;
  --secondary-background: #191f1f;
  --tertiary-background: #273030;
  --nav-background: 23, 36, 36; /* rgba(23, 36, 36) */

  /* Foreground */
  --foreground: #acc3bb;
  --secondary-foreground: #404a46;

  /* Accent */
  /* --accent: #b3934e; */
  --accent: #911a24;
  --link-accent: #94d9c1;

  /* Scrollbar */
  --scrollbar-thumb: #72141c66;
  --scrollbar-thumb-hover: #72141c88;
  --scrollbar-track: #6a525418;
  --scrollbar-track-hover: var(--scrollbar-track);

  /* Masonry Grid (Gallery) */
  --masonry-gutter-size: 0.5rem;
}

/* 
#B41825
#491D23
#22181C
#090B0B
#ACC3BB
 */

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'FONTNAME', 'Courier', Verdana, Tahoma, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  background-color: var(--background);
  color: var(--foreground);
}

#root {
  min-height: 100vh;
  width: 100%;

  /* Used to make footer always at bottom if page is too short */
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
}

#background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  z-index: -9999999;
  /* background-image: linear-gradient(
    to left top,
    #080a0a,
    #0b0d0d,
    #0d1010,
    #0f1212,
    #111414
  ); */
  /* background-image: linear-gradient(
    to left top,
    #080a0a,
    #0c0f0f,
    #101313,
    #131717,
    #151a1a
  ); */
  background-image: linear-gradient(
    315deg,
    hsl(180deg 11% 4%) 50%,
    hsl(180deg 18% 8%) 83%,
    hsl(180deg 24% 11%) 100%
  );
}

/* Scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--scrollbar-track);
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background-color: var(--scrollbar-track-hover);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--scrollbar-thumb);
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-hover);
}

/* InfoGroup Container Query */
@container InfoBar (width < 500px) {
  /* Used for specificity */
  .infoGroup.infoGroup {
    justify-content: center;
    flex-direction: column;
  }

  .infoBar.infoBar {
    height: 0;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column;

    transition: height 500ms ease-out, padding 500ms ease-out;
  }

  .infoBar.infoBar:focus-within {
    height: 15em;
    padding: 1.5em 0;
  }
}

